Before you turn this homework in, make sure everything runs as expected. First, **restart the kernel** and then **run all cells** (in the menubar, select Kernel$\rightarrow$Restart \& Run all). If you get error messages, the grader will get the same errors and won't be able to grade your work. 

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE". You may delete the line(s) that say "**raise** NotImplementedError()" and replace them with your actual work. Write all your work in the cells provided in this notebook. **DO NOT** add or delete any cells. 

Please fill in your name in the cell below.

In [ ]:
NAME = "Kevin Pham"

---

# Homework 11

In this assignment, we're continuing to work with the Sakila database that you installed for your previous Homework assignment. The database contains records of a ficticious chain of DVD video rental stores. Download the file "sqlite-sakila.db" from Canvas. If you put the database file into the same folder where you have saved this notebook, you can run the code provided below unchanged. Otherwise, you have to set a path to where you have saved the file. You can also find an ER-schema of the Sakila database on Canvas. Look at the ER-schema to understand the structure of the Sakila database. 

For all problems below, if you are not able to write `SQLite3` code to obtain results, try to write at least the corresponding SQL code statement in the provided Markdown box. If you can't run the code, you won't be able to get answers, of course, but you could at least get partial credit for your SQL statements.

### Problem 1

Find the full names (first name and last name) of all customers whose first name begins with 'Ed'. Display them in a table.

In [2]:
# COMPLETE
import sqlite3
import pandas as pd

def run_query(q):
    with sqlite3.connect("sqlite-sakila.db") as con:
            # Change the path to where YOU have saved the sqlite-sakila.db file
        return pd.read_sql(q, con)
    
# YOUR CODE HERE
# raise NotImplementedError()

print(run_query("SELECT first_name,last_name FROM customer WHERE first_name LIKE 'ED%'"))

  first_name last_name
0       EDNA      WEST
1      EDITH  MCDONALD
2     EDWARD     BAUGH
3      EDWIN      BURK
4      EDDIE    TOMLIN
5      EDGAR    RHOADS
6    EDUARDO     HIATT

YOUR ANSWER HERE

### Problem 2

If the film titles are ordered alphabetically, which three movies come alphabetically first?

In [3]:
# COMPLETE
# YOUR CODE HERE
print(run_query("SELECT title FROM film ORDER BY title LIMIT 3"))
# raise NotImplementedError()

              title
0  ACADEMY DINOSAUR
1    ACE GOLDFINGER
2  ADAPTATION HOLES

YOUR ANSWER HERE

### Problem 3

Produce a table of film titles, rental rates, ratings, and movie categories (by name, not by id number) for all G-rated Sci-Fi films.

In [22]:
# COMPLETE
# YOUR CODE HERE
# need to join two tables to use 'categories' (film -> film_category)

print(run_query("SELECT title,rental_rate,rating,cat.name \
    FROM film\
    JOIN film_category\
    ON film.film_id = film_category.film_id\
    JOIN category AS cat\
    ON film_category.category_id = cat.category_id\
    WHERE (cat.name = 'Sci-Fi') AND (film.rating = 'G')"))      
#raise NotImplementedError()

                  title  rental_rate rating    name
0        ANNIE IDENTITY         0.99      G  Sci-Fi
1       ARMAGEDDON LOST         0.99      G  Sci-Fi
2  BARBARELLA STREETCAR         2.99      G  Sci-Fi
3         CHEAPER CLYDE         0.99      G  Sci-Fi
4         CITIZEN SHREK         0.99      G  Sci-Fi
5   COLDBLOODED DARLING         4.99      G  Sci-Fi
6       DAISY MENAGERIE         4.99      G  Sci-Fi
7         GARDEN ISLAND         4.99      G  Sci-Fi
8            MARRIED GO         2.99      G  Sci-Fi
9      SUICIDES SILENCE         4.99      G  Sci-Fi

YOUR ANSWER HERE

### Problem 4

Some of the actors in the actor table have the same last names. Produce a table of last names of actors and counts of how many actors have that same last name (your table should have exactly the two columns "last_name" and "count").  Order the table first by counts in decreasing order and then alphabetically by last name and only display last names for cases where at least three actors share the same last name.

In [30]:
# COMPLETE
# YOUR CODE HERE
# need to group by their last names
# X >= 3 at least 3 actors sharing the last names.
# DESC - descending order
print(run_query("SELECT last_name, COUNT (*) FROM actor GROUP BY last_name HAVING COUNT(*) >= 3 ORDER BY COUNT(*) DESC,last_name"))
# raise NotImplementedError()

    last_name  COUNT (*)
0      KILMER          5
1       NOLTE          4
2      TEMPLE          4
3      AKROYD          3
4       ALLEN          3
5       BERRY          3
6       DAVIS          3
7   DEGENERES          3
8     GARLAND          3
9     GUINESS          3
10     HARRIS          3
11    HOFFMAN          3
12    HOPKINS          3
13  JOHANSSON          3
14     KEITEL          3
15       PECK          3
16       TORN          3
17   WILLIAMS          3
18     WILLIS          3
19  ZELLWEGER          3

YOUR ANSWER HERE

### Problem 5

Write SQL code to return the count of the number of copies of the film 'WESTWARD SEABISCUIT' that are in the inventory. Your return table should have just one line (I don't want to have to pick out the answer out of a large table manually).

In [31]:
# COMPLETE
# YOUR CODE HERE
# keyword: WESTWARD SEABISCUIT
# title has to be specific/exact
# join: film -> inventory by their ID then group only by the specific film title
print(run_query("SELECT title, COUNT(*)\
    FROM film\
    JOIN inventory\
    ON film.film_id = inventory.film_id\
    GROUP BY film.title\
    HAVING film.title = 'WESTWARD SEABISCUIT'"))
# raise NotImplementedError()

                 title  COUNT(*)
0  WESTWARD SEABISCUIT         7

YOUR ANSWER HERE